In [12]:
import pandas as pd
import numpy as np

In [14]:
#import QB stats
DF_QB = pd.read_csv('supp/2020QB.csv')
DF_QB.head(10)

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Y/G,Rate,QBR,Sk,Yds.1,NY/A,ANY/A,Sk%,4QC,GWD
0,1,Matt Ryan\RyanMa00,ATL,35,QB,16,16,4-12-2000,407,626,...,286.3,93.3,66.9,41,257,6.48,6.52,6.1,NaN,NaN
1,2,Tom Brady\BradTo00,TAM,43,QB,16,16,11-5-2000,401,610,...,289.6,102.2,72.6,21,143,7.12,7.53,3.3,3.0,3.0
2,3,Ben Roethlisberger\RoetBe00,PIT,38,QB,15,15,12-3-2000,399,608,...,253.5,94.1,60.1,13,118,5.93,6.27,2.1,4.0,4.0
3,4,Justin Herbert\HerbJu00,LAC,22,QB,15,15,6-9-2000,396,595,...,289.1,98.3,69.6,32,218,6.57,6.84,5.1,1.0,3.0
4,5,Patrick Mahomes *\MahoPa00,KAN,25,QB,15,15,14-1-0,390,588,...,316.0,108.2,82.9,22,147,7.53,8.33,3.6,3.0,3.0
5,6,Josh Allen *\AlleJo02,BUF,24,QB,16,16,13-3-0,396,572,...,284.0,107.2,81.7,26,159,7.33,7.82,4.3,2.0,3.0
6,7,Kyler Murray *\MurrKy00,ARI,23,QB,16,16,8-8-2000,375,558,...,248.2,94.3,68.9,27,176,6.49,6.45,4.6,3.0,4.0
7,8,Russell Wilson *\WilsRu00,SEA,32,QB,16,16,12-4-2000,384,558,...,263.3,105.1,73.5,47,301,6.46,6.82,7.8,3.0,3.0
8,9,Jared Goff\GoffJa00,LAR,26,QB,15,15,9-6-2000,370,552,...,263.5,90.0,58.4,23,161,6.59,6.27,4.0,0.0,1.0
9,10,Deshaun Watson *\WatsDe00,HOU,25,QB,16,16,4-12-2000,382,544,...,301.4,112.4,70.5,49,293,7.64,8.22,8.3,NaN,NaN