In [25]:
import pandas as pd
import numpy as np

In [36]:
#import QB stats
DF = pd.read_csv('supp/2020QB.csv')
Name = DF['Player'].str.split('\\').str[0]
Name = Name.values.tolist()
def remove_punc(string):
    punc = '*+'
    for ele in string:
        if ele in punc:
            string = string.replace(ele,'')
    return string
Name = [remove_punc(i) for i in Name]
DF['Player Name'] = Name
DF = DF.iloc[:, 2:]
DF_QB = DF[['Player Name', 'Age', 'Pos', 'Tm', 'G', 'GS', 'Cmp', 'Att', 'Yds', 'TD']]
DF_QB.head(10)

          Player Name  Age Pos   Tm   G  GS  Cmp  Att   Yds  TD
0           Matt Ryan   35  QB  ATL  16  16  407  626  4581  26
1           Tom Brady   43  QB  TAM  16  16  401  610  4633  40
2  Ben Roethlisberger   38  QB  PIT  15  15  399  608  3803  33
3      Justin Herbert   22  QB  LAC  15  15  396  595  4336  31
4    Patrick Mahomes    25  QB  KAN  15  15  390  588  4740  38
5         Josh Allen    24  QB  BUF  16  16  396  572  4544  37
6       Kyler Murray    23  QB  ARI  16  16  375  558  3971  26
7     Russell Wilson    32  QB  SEA  16  16  384  558  4212  40
8          Jared Goff   26  QB  LAR  15  15  370  552  3952  20
9     Deshaun Watson    25  QB  HOU  16  16  382  544  4823  33